[submodule "modules/rxp-android"]
	path = modules/rxp-android
	url = https://github.com/realexpayments/rxp-android.git
[submodule "modules/rxp-hpp-java"]
	path = modules/rxp-hpp-java
	url = https://github.com/realexpayments/rxp-hpp-java.git
