<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

	<context-param>
		<param-name>hppMerchantId</param-name>
		<param-value>hackathon9</param-value>
	</context-param>

	<context-param>
		<param-name>hppSecret</param-name>
		<param-value>secret</param-value>
	</context-param>
	
	<servlet>
        <servlet-name>RequestProducerServlet</servlet-name>
        <servlet-class>com.github.matt.williams.qoinz.webapp.RequestProducerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RequestProducerServlet</servlet-name>
        <url-pattern>/request-producer</url-pattern>
    </servlet-mapping>

	<servlet>
        <servlet-name>ResponseConsumerServlet</servlet-name>
        <servlet-class>com.github.matt.williams.qoinz.webapp.ResponseConsumerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ResponseConsumerServlet</servlet-name>
        <url-pattern>/response-consumer</url-pattern>
    </servlet-mapping>

	<servlet>
        <servlet-name>GetTokenServlet</servlet-name>
        <servlet-class>com.github.matt.williams.qoinz.webapp.GetTokenServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetTokenServlet</servlet-name>
        <url-pattern>/get-token</url-pattern>
    </servlet-mapping>

</web-app>     